@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}



/* THE STYLE FOR THE ANIMATION FOR THE PROJECT COMPONENT */


/* Animation for sliding in from the right */
@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

html, body{
  margin: 0;
  padding:0;
  overflow-x: hidden;
  
}



@keyframes slideInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.project-card {
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  width: 100%;
  max-width: 400px; /* Increase card size */
  margin: auto;
  animation: slideIn 1.5s ease-in-out; /* Apply animation */
}

.project-card img {
  border-radius: 10px;
}

.project-card:hover {
  transform: scale(1.05); /* Slight zoom on hover */
  transition: transform 0.3s ease-in-out;
}

.animate-slide {
  animation: slideIn 1s ease-in-out;
}


@layer utilities {
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in-down {
    animation: fadeInDown 0.5s ease-out forwards;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .modal-container {
    z-index: 9999; /* Make sure modal is always above other elements */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
